
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  font-family: 'Inter', Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 18px;
  height: 60px;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

.navbar-items {
  display: none;
}

.menu-line {
  width: 20px;
  height: 3px;
  background-color: white;
  margin-bottom: 3px;
}

.mobile-nav-list {
  color: #fff5e1;
  margin: 20px 30px;
  font-size: 1.4rem;
  padding: 20px 0 15px 30px;
  border: none;
  border-bottom: 1px solid #fff5e1;
}

/* main */

main {
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  opacity: 1;
  background-color: #1c1a19;
  background-image: url(./ressources/illustration-header-mobile.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}

.text-headline {
  padding: 0 15px;
}

.primery-text {
  font-family: 'Crete Round', Georgia, 'Times New Roman', Times, serif;
  color: #f55800;
  font-weight: 400;
  font-size: 54px;
  letter-spacing: 0.37px;
  line-height: 82px;
  margin: 10px 0;
}

.supporting-text {
  font-family: 'Inter', Georgia, 'Times New Roman', Times, serif;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  line-height: 44px;
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.description {
  font-family: 'Inter', Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0;
  color: #f4f5f7;
  width: 80%;
}

.icons-container {
  margin-top: 10px;
  text-align: left;
  margin-left: -120px;
  display: flex;
}

.social-icon {
  margin: 10px;
}

/* --works section style-- */

.works-section {
  background: #fff;
  color: #1c1a19;
  padding: 100px 0;
}

.works-section-header {
  text-align: center;
  font-family: 'Crete Round', Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: normal;
}

.works-section hr {
  width: 80%;
  border: none;
  border-bottom: 2px solid #212121;
  margin: 24px auto;
}

.works-section-project {
  text-align: center;
}

.works-grid-template {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 300px 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas: ". first-grid ." ". second-grid ." ". third-grid ." ". foruth-grid ." ". fifth-grid ." ". sixth-grid .";
}

/* --end works section-- */

/* --mai, grid styme-- */
.works-section-project-description {
  margin: 1px 25px;
  text-align: left;
}

.works-section-project img {
  width: 300px;
}

.works-section-project-description li {
  margin-left: -15px;
  margin-right: 25px;
}

.works-section-project-header {
  font-family: 'Crete Round', Georgia, 'Times New Roman', Times, serif;
  font-weight: 400 regular;
  font-size: 32px;
  line-height: 44px;
  margin: 12px 0;
  color: #091e42;
}

.language-list-body {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-left: 15px;
}

.language-list-item {
  font-weight: 500;
  font-size: 15px;
  color: #091e42;
  margin: 14px 20px;
  padding: 10px;
  border: 1px solid #8993a4;
}

.project-button {
  margin-top: 15px;
  margin-left: 0;
  width: 130px;
  cursor: pointer;
}

/* --main grid style-- */

/* --Grid Style-- */

.works-grid-main-container {
  position: relative;
}

.works-grid-one-project-container {
  padding-top: 60px;
  margin: 80px auto 0 auto;
  width: 300px;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
  filter: contrast(80%);
}

.works-grid-one-project-container:hover {
  filter: contrast(100%);
}

.works-grid-one-project-header {
  font-family: 'Crete Round', Georgia, 'Times New Roman', Times, serif;
  font-weight: 400 regular;
  font-size: 32px;
  margin: 0;
  padding: 100px 20px 0 20px;
  color: #fff;
}

.works-grid-one-project-description {
  font-family: 'Inter', Georgia, 'Times New Roman', Times, serif;
  font-weight: 400 regular;
  font-size: 14px;
  line-height: 24px;
  margin: 12px 0;
  padding: 0 20px;
  color: #fff;
}

.works-grid-one-project-language-list {
  background: rgba(170, 170, 170, 0.24);
  color: #fff;
  margin: 0 5px;
}

.grid-project-button {
  width: 100%;
  position: relative;
  margin: 300px 0 0 0;
  letter-spacing: 0.03em;
  color: #fff;
}

.works-grid-project {
  padding-top: 20px;
  width: 300px;
  height: 368px;
  position: absolute;
}

.first-grid {
  grid-area: first-grid;
  background-image: url('./ressources/background-work/Img_gradiant.png');
  background-repeat: no-repeat;
  position: relative;
  background-size: auto;
}

.second-grid {
  grid-area: second-grid;
  background-image: url('./ressources/background-work/Img_gradiant.png');
}

.third-grid {
  grid-area: third-grid;
  background-image: url('./ressources/background-work/Img_gradiant.png');
}

.fourth-grid {
  grid-area: foruth-grid;
  background-image: url('./ressources/background-work/Img_gradiant.png');
}

.fifth-grid {
  grid-area: fifth-grid;
  background-image: url('./ressources/background-work/Img_gradiant.png');
}

.sixth-grid {
  grid-area: sixth-grid;
  background-image: url('./ressources/background-work/Img_gradiant.png');
}

/* --fin General Grid Styling-- */

/* --About Section-- */
.about {
  padding-top: 15px;
  padding-left: 10px;
  text-align: left;
  background-color: #1c1a19;
  border: #1c1a19 solid 1px;
}

.about-header {
  font-family: 'Crete Round', Georgia, 'Times New Roman', Times, serif;
  font-size: 72px;
  margin: 100px auto 0 20px;
  color: #f55800;
}

.about-description {
  font-size: 16px;
  font-family: 'Inter', Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  line-height: 24px;
  margin: 20px;
  text-align: left;
  color: #fff;
}

.about-button {
  padding: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

.about-illustration {
  width: 100%;
  text-align: right;
  padding-top: -80px;
}

.about-line {
  width: 90%;
  border: none;
  margin: 30px auto;
  border-top: 3px solid white;
}

/* --end About Section-- */

/* --skills section-- */
.skills {
  text-align: center;
  margin-top: 100px;
}

.skills-lang {
  margin: 70px 0;
}

.skill-lang-header {
  font-size: 32px;
  margin: 0 12px;
  color: #fff;
  font-family: 'Inter', Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
}

.skill-lang-li {
  color: #fff;
  font-family: 'Inter', Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-weight: normal;
  font-size: 22px;
  margin: 20px auto;
}

/* --end skill section-- */

/* -- button style-- */

.button {
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 0.03em;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f55800;
}

.button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.button:active {
  background: #e05304;
  color: #fff;
}

.button:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

button {
  border: none;
  outline: none;
  color: #fff;
  background: #f55800;
}

/* --end-- */

/* --contact form style section-- */

.contact {
  background-color: #fff;
  padding: 0 24px;
}

.contact-description {
  font-family: 'Inter', Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 24px 0;
  padding-top: 80px;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 100px;
}

input,
textarea {
  margin: 20px 0;
  border: 0;
  border-bottom: 1px solid #dbd8d7;
  padding: 15px 16px;
  outline: none;
  width: 100%;
}

input::-moz-placeholder {
  font-weight: normal;
  font-size: 15px;
  color: #979493;
}

input:-ms-input-placeholder {
  font-weight: normal;
  font-size: 15px;
  color: #979493;
}

input::placeholder {
  font-weight: normal;
  font-size: 15px;
  color: #979493;
}

textarea {
  background-color: #fbf8f7;
  border: none;
}

textarea::-moz-placeholder {
  font-family: 'Inter', Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 15px;
  color: #8b8686;
}

textarea:-ms-input-placeholder {
  font-family: 'Inter', Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 15px;
  color: #8b8686;
}

textarea::placeholder {
  font-family: 'Inter', Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 15px;
  color: #8b8686;
}

.form-line {
  margin: 0;
  border: none;
  border-bottom: 1px solid #dfe1e6;
}

.submit {
  align-self: center;
}

#error {
  color: red;
  text-align: center;
  font-weight: bold;
}

/* --end-- */

/* --footer style section-- */
.form-icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

footer {
  background: #fff;
}

.footer-line {
  border: #0d151e 2px solid;
  margin-bottom: 15px;
  margin-top: 0;
  width: 30%;
}

/* --end-- */

@media screen and (min-width: 994px) {
  nav {
    justify-content: space-between;
    padding: 7px 150px 0 150px;
    margin: 0;
  }

  .menu-line {
    display: block;
  }

  .navbar-items {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .nav-list {
    margin-left: 20px;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
  }

  .menu-collapsed {
    display: none;
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 3px;
  }

  main {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    padding: 0 20px;
    height: 110vh;
  }

  .text-headline {
    width: 550px;
  }

  .primery-text {
    font-size: 72px;
    margin: 24px 0;
  }

  .supporting-text {
    font-size: 32px;
    margin: 24px 0;
  }

  .description {
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    margin: 24px 0;
  }

  .icons-container {
    margin-left: 20px;
    margin-right: 50px;
    flex-direction: column;
  }

  .social-icon {
    margin: 12px;
    animation: anime-icons 5s ease 1s 10 normal forwards;
  }

  .image-container {
    width: 520px;
    height: 560px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./ressources/Illustration-header.png');
    position: absolute;
    right: 0;
    top: 12%;
    background-position: right;
    animation: Anime-main-image 5s ease 1s 2 normal forwards;
  }

  /* --Start animation section-- */

  @keyframes Anime-main-image {
    0% {
      animation-timing-function: ease-in;
      opacity: 1;
      transform: translateX(-48px);
    }
    24% {
      opacity: 1;
    }
    40% {
      animation-timing-function: ease-in;
      transform: translateX(-26px);
    }
    65% {
      animation-timing-function: ease-in;
      transform: translateX(-13px);
    }
    82% {
      animation-timing-function: ease-in;
      transform: translateX(-6.5px);
    }
    93% {
      animation-timing-function: ease-in;
      transform: translateX(-4px);
    }
    25%,
    55%,
    75%,
    87%,
    98% {
      animation-timing-function: ease-out;
      transform: translateX(0px);
    }
    100% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateX(0px);
    }
  }

  /* -- End animation section-- */
  @keyframes anime-icons {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 50% 50%;
    }
  
    10% {
      transform: rotate(8deg);
    }
  
    20%,
    40%,
    60% {
      transform: rotate(-10deg);
    }
  
    30%,
    50%,
    70% {
      transform: rotate(10deg);
    }
  
    80% {
      transform: rotate(-8deg);
    }
  
    90% {
      transform: rotate(8deg);
    }
  }
  /* section main */

  /* WORK SECTION */
  .works-section {
    padding: 100px 50px;
  }

  .works-section-header {
    text-align: left;
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
  }

  .works-section hr {
    width: 45%;
    border: none;
    border-bottom: 1px solid #212121;
    margin-top: -24px;
    float: right;
    margin-right: 220px;
  }

  .works-section-main-grid {
    display: flex;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    max-width: 1170px;
  }

  .works-section-project img {
    width: 620px;
  }

  .works-section-project-description {
    display: flex;
    width: 560px;
    margin: 14px 60px;
    font-size: 20px;
    line-height: 28px;
    flex-direction: column;
  }

  .works-section-project-header {
    font-size: 34px;
    margin: 0 0 20px 0;
  }

  .language-list-body {
    margin: 10px 0;
  }

  .language-list-body li {
    padding: 3px 10px;
    font-weight: bolder;
  }

  .language-list-item {
    margin: 5px;
  }

  .project-button {
    margin-bottom: 0;
  }

  .works-grid-main-container {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
    max-width: 1170px;
  }

  .works-grid-one-project-container {
    height: 370px;
    margin-top: 50px;
  }

  .works-grid-one-project-container:hover .works-grid-project {
    display: none;
  }

  .grid-project-button {
    display: none;
  }

  .works-grid-one-project-container:hover .grid-project-button {
    display: block;
    text-align: center;
    padding: 10px;
  }

  /* ABOUT SECTION */
  .about {
    padding: 5px 0 1px 142px;
    overflow: hidden;
  }

  .about-section {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about-sub-section {
    display: flex;
    flex-direction: column;
  }

  .about-header {
    text-align: left;
    font-size: 72px;
    margin: 120px 0 0 50px;
  }

  .about-description {
    width: 570px;
    font-size: 20px;
    line-height: 32px;
    margin: 24px 100px 0 50px;
  }

  .about-button {
    margin: 40px 50px;
    width: 170px;
  }

  .about-illustration img {
    display: none;
  }

  .about-illustration {
    width: 700px;
    height: 550px;
    background: url('./ressources/illustration-about-me.png');
    background-repeat: no-repeat;
    background-size: 100%;
    float: right;
  }

  .about-line {
    margin-right: 150px;
    color: #fff;
    border: #fff solid 1px;
    overflow: hidden;
  }

  /* SKILLS */
  .skills {
    display: flex;
    justify-content: center;
    text-align: left;
  }

  .skills-lang {
    margin: 0 200px 150px 0;
  }

  /* CONTACT */
  .contact {
    display: flex;
    justify-content: space-around;
  }

  .contact-description {
    width: 455px;
    height: 256px;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    margin: 24px 0;
  }

  form {
    padding-top: 100px;
    width: 680px;
    padding-left: -70px;
  }

  input,
  textarea {
    width: 100%;
  }

  textarea {
    height: 110px;
  }

  .form-line {
    width: 100%;
    margin: 0;
    background: #fff;
  }

  .submit {
    align-self: flex-start;
  }

  /* ---end css --- */
}
